.navbar-brand{
    font-weight: bolder;
    text-decoration: underline;
    position: relative;
    left : 60px;
}

#Menu{
    position: relative;
    top: 8px;
    left: 100px;
}

#Logo{
    position: relative;
    left : 650px;
    top: 5px;
    font-size: 25px;
    font-weight: 800;
}

#Contact{
    position: relative;
    top: 8px;
    left: 1200px;
    font-weight: bolder;
}

.Header{
    height: 80px;
}