.Footer{
    bottom: 0;
    width: 100%;
    border: 10px solid  black;
}

.div1{
    border: 2px solid red;
    height: 75px;
}

.div1 h4{
    position: relative;
    right : 580px;
    top: 15px;
}

.div1 ul li{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -14px;
}

.div1 p{
    position: relative;
    left: 1280px; 
    width: 100px;
    top: -55px;
}

.div2{
    border: 5px solid green;
}